asgiref==3.7.2
backports.zoneinfo==0.2.1
cffi==1.16.0
cryptography==42.0.5
Django==4.2.9
django-cors-headers==4.3.1
django-extensions==3.2.3
django-sslserver==0.22
djangorestframework==3.14.0
djangorestframework-csv==3.0.2
gunicorn==21.2.0
MarkupSafe==2.1.5
mysqlclient==2.2.1
packaging==23.2
pycparser==2.21
pyOpenSSL==24.0.0
pytz==2023.3.post1
sqlparse==0.4.4
typing_extensions==4.9.0
Werkzeug==3.0.1
